.header {
  height: 20%;
}

img {
  max-width: 20%;
  height: auto;
}

.space {
  margin-top: 20px;
}

.less-space {
  margin-top: 5px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.body {
    min-width: 500px;
    min-height: 500px;
}