<div class="body">
  <div class="header">
    <img src="icon.png" alt="Logo" class="center">
  </div>
  <div class="space">
    <div>
      <p-panel header="Focus Content" [toggleable]="true" iconPos="end" collapsed="true" [class.color]="focusIconColor">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="onFocusClick()" pTooltip="Toggle focused content on the page">
            <span [class]="currentFocusIcon" style="font-size: 1.5rem"></span>
          </button>
        </ng-template>
        <p-slider [(ngModel)]="blurIntensity" [step]="1"></p-slider>
      </p-panel>
    </div>

    <div class="less-space">
      <p-panel header="Increase Text and Button Sizing" [toggleable]="true" iconPos="end" collapsed="true" [class.color]="focusIconColor">
        <ng-template pTemplate="icons">
          <button pButton class="p-panel-header-icon p-link" (click)="onIncreaseTextButtonClick()" pTooltip="Toggle increased text and button sizing">
            <span [class]="currentIncreaseTextButtonIcon" style="font-size: 1.5rem"></span>
          </button>
        </ng-template>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </p-panel>
    </div>
    

    
  </div>
</div>
